<!-- @format -->

<nav
  style="background-color: var(--main-color)"
  class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">&nbsp&nbspStudy.Async</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          Flashcard
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
            <a class="dropdown-item" href="{% url 'new_flashcard' %}"
              >New Flashcard</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'start_challenge' %}"
              >Start challenge</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'list_challenge' %}"
              >List challenge</a
            >
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'add_books' %}">Books</a>
      </li>
    </ul>
  </div>
</nav>
