{% extends "base.html" %}
{% load static %}
{% block 'header' %}
<link href="{% static 'users/css/register.css' %}" rel="stylesheet">
<link href="{% static 'flashcard/css/new_flashcard.css' %}" rel="stylesheet">
<link href="{% static 'flashcard/css/start_challenge.css' %}" rel="stylesheet">
<link href="{% static 'flashcard/css/challenge.css' %}" rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock 'header' %}
{% block 'content' %}
{% include 'partials/header.html'%}
<div class="container">
<br>
<br>
<div class="row">
<div class="col-md">
<form action="{% url 'list_challenge' %}" method="GET">
<label for="">Category</label>
<select name="category" class="form-select">
    <option value=""></option>
    {% for category in categories %}
        <option value="{{category.id}}">{{category}}</option>
    {% endfor%}
</select>
</div>
<div class="col-md">
<label for="">Difficulty</label>
<select name="difficulty" class="form-select">
    <option value=""></option>
    {% for difficulty in difficulties%}
    <option value="{{difficulty.0}}">{{difficulty.1}}</option>
    {% endfor%}
</select>
</div>
<div class="col-md">
<br>
<input type="submit" value="Filter" class="btn-register">
</form>
</div>
</div>
<br>
<br>
<div class="box-list">
<table>
<thead>
<tr>
<th scope="col">Challenge</th>
<th scope="col">Title</th>
<th scope="col">Level</th>
<th scope="col">Status</th>
</tr>
</thead>
<tbody>
{% for challenge in challenges%}
<tr class="line">
<th><a href="{% url 'challenge' challenge.id %}">{{challenge.id}}</a></th>
<td>{{challenge.title}}</td>
<td>{{challenge.get_difficulty_display}}</td>
<td>{{challenge.status}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
<script src="{% static 'flashcard/js/flashcard.js' %}"></script>
{% endblock 'content' %}