{% extends "base.html" %}
{% load static %}
{% block 'header' %}
<link href="{% static 'users/css/register.css' %}" rel="stylesheet">
<link href="{% static 'flashcard/css/new_flashcard.css' %}" rel="stylesheet">
<link href="{% static 'flashcard/css/start_challenge.css' %}" rel="stylesheet">
{% endblock 'header' %}
{% block 'content' %}
{% include 'partials/header.html'%}
<div class="container ctx">
<br>
<br>
<h2 class="font-first">Start Challenge</h2>
<p class="font-second">Choose the categories and difficulty of the challenge</p>
{% if messages %}
          <br />
          {% for message in messages %}
          <section class="alert {{message.tags}}">{{message}}</section>
          {% endfor %} {% endif %}
<div class="row">
        <div class="col-md">
            <form action="{% url 'start_challenge' %}" method="POST">{% csrf_token %}
            <label for="">Title</label>
            <input type="text" class="form-control" name="title">
        </div>
<div class="col-md">
<label>Category</label>
<select name="category" class="form-select" multiple>
{% for category in categories %}
<option value="{{category.id}}">
{{category.name}}
</option>
{% endfor %}
</select>
</div>
<div class="col-md">
<label>Difficulty</label>
<select name="difficulty" class="form-select">
{% for difficulty in difficulties %}
<option value="{{difficulty.0}}">
{{difficulty.1}}
</option>
{% endfor %}
</select>
</div>
<div class="col-md">
<label>Quantity Questions</label>
<input type="number" class="form-control" name="qnt_questions">
</div>
</div>
<br>
<br>
<input type="submit" class="btn-register" value="Start Challenge">
</form>
</div>
{% endblock 'content' %}